:root {
  /* color variables */
  --light-color: #ffffff;
  --light-primary-color: #fafafb;
  --light-secondary-color: #b5b5be;
  --light-tertiary-color: #92929d;
  --dark-color: #000000;
  --dark-line-color: #979797;
  --backdrop-dark-color: rgba(0, 0, 0, 0.7);
  --dark-primary-color: #13131a;
  --dark-secondary-color: #1c1c24;
  --dark-tertiary-color: #292932;
  --accent-primary-color: #f07f2e;
  --accent-secondary-color: #f15c27;
  --accent-tertiary-color: #d14a00;
  --danger-color: #fc5a5a;
  --warning-color: #a461d8;
  --success-color: #82c43c;
  --info-color: #4e75ff;

  background-color: var(--dark-color);
  color: var(--light-color);
}
