.container {
  display: flex;
  align-content: baseline;
  flex: 1;
}
.main {
  display: flex;
  flex-direction: column;
  max-width: 467px;
  width: 100%;
  gap: 32px;
  margin: 16px auto;
  padding: 0 16px;
}
@media (min-width: 768px) {
  .main {
    max-width: 654px;
    margin: 36px auto;
    padding: 0 36px;
  }
}
